.tooltip {
  display: absolute;
  flex-direction: column;
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 500px;
  font-size: 0.9em;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .tooltip {
    width: 300px;
  }
}

.tooltip-properties {
  display: flex;
  flex-direction: row;
  border-color: white;
  border: 1px;
  border-style: solid;
}

.tooltip-properties-human {
  display: flex;
  flex-direction: column;
  margin-right: 2vh;
  justify-content: space-between;
}

.tooltip-properties-building {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tooltip-properties-building > div {
  border-color: grey;
  border: 1px;
  border-style: solid;
}

.tooltip-properties-human > div {
  border-color: grey;
  border: 1px;
  border-style: solid;
}
