.map-wrapper {
  position: relative;
  transition: margin-left 0.5s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.collapse-menu-button {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 80px;
  height: 50px;
}

.collapse-menu-button-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.collapse-menu-button-span-svg {
  height: auto;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

.vis {
  visibility: hidden;
}

.mapboxgl-ctrl-top-right {
  width: 10vw;
  height: 2vh;
  top: 3.5vh;
}

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 40vw;
  font-size: 0.9em;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
}

.tooltip-properties {
  display: flex;
  flex-direction: row;
}

.tooltip-properties-human {
  display: flex;
  flex-direction: column;
  margin-right: 2vh;
  justify-content: space-between;
}

.tooltip-properties-building {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
