.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: black;
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  padding: 0 10px;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  text-decoration: none;
  color: black;
  font-size: 18px;

  justify-content: space-around;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: black;
  width: 30%;
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

.nav-menu-accordion {
  margin-top: 5vh;
}

.nav-menu-accordion span {
  height: 4.5vh;
  font-size: larger;
}

@media only screen and (min-width: 1800px) {
  .nav-menu {
    width: 420px;
  }
  .nav-menu-accordion span {
    height: 4.5vh;
    font-size: x-large;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    width: 100vw;
    z-index: 9999;
  }
  .nav-menu-accordion span {
    height: 4.5vh;
    font-size: x-large;
  }
}

.accordion-header-desc {
  padding: 0.25rem;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.accordion-header-desc svg {
  width: 1.5em;
  height: 1.5em;
  padding-right: 2px;
}

.close-button svg {
  width: 30px;
  height: auto;
}
