.ibb-map-description {
  text-align: left;
  font-size: 2vh;
}

@media only screen and (max-width: 600px) {
  .ibb-map-description {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 600px) {
  .ibb-map-description {
    font-size: 4vh;
  }
}
